<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
</head>
<body>
<table border="1" cellpadding="12" bgcolor="#f0ffff">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Edit user</th>
        <th>Delete user</th>
    </tr>
        <tr th:each="user : ${allUsers}">
    <tr th:each ="user : ${allUsers}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getPassword()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getLastname()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getSalary()}"></td>

        <td><form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
            <input type="submit" value="Edit"/>
        </form> </td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form> </td>
        </tr>
</table>

<br>

<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Add User"/>
</form>

<br>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

<br><br>
</body>
</html>